{% extends "cv/wrapper.html" %}
{% load markdown %}

{% block title %}About me{% endblock %}

{% block content %}

{% filter markdown %}

About me
===

<img src="http://i.imgur.com/Mbs3jz9.jpg" class="profile-image" />

I'm an experienced web developer and team leader with wide-ranging expertise and interests. I enjoy finding elegant solutions within complex systems, and I [care deeply](http://robinwinslow.co.uk/2013/05/30/why-i-love-the-internet/) about communications technology. I'm opinionated and I will happily share my opinions given half a chance.

I want to be a part of a progressive and ambitious organisation who truly care about their colleagues and their customers. I like openness and transparency, and I would love to work for an organisation who shares these values. I believe strongly in fostering a no-blame culture, where everyone feels encouraged to give their opinion, and in striving to empower and respect all members of the organisation.

I love having empassioned discussions with opinionated people in the workplace or anywhere else; I like exploring; and I love skiing.

I believe the best work is done by small, focused teams of empowered and committed individuals evolving towards a common goal.

I believe that the most valuable ideas are reached through fostering a spirit of diversity, openness and experimentation. 

I believe a company is an organisation of individuals for the good of those individuals and the good of the human race, and that turning a profit should only ever be a secondary concern.

I believe that effective communication is critically important in all areas of life.

{% endfilter markdown %}

{% endblock content %}
