{% extends "cv/wrapper.html" %}
{% load markdown %}

{% block title %}Education{% endblock %}

{% block content %}

<nav class="page-navigation">
    <ul>
        <li><a href="#training-courses">Training courses</a></li>
        <li><a href="#msc-interactive-systems-design">MSc Interactive Systems Design</a></li>
        <li><a href="#bsc-computer-science">BSc Computer Science</a></li>
    </ul>
</nav>

{% filter markdown %}

Training courses
===

- [Design patterns 2-day course](http://inviqa.com/services/get-trained/training-courses/) with Inviqa <small>(April 2012)</small>
- [TDD immersion day](http://inviqa.com/services/get-trained/tdd-immersion-day/) with Inviqa <small>(April 2012)</small>
- [Fundamentals of Magento Development](http://www.magentocommerce.com/training/descriptions) <small>(December 2012)</small>
- [Level 1 &amp; 2 Umbraco masterclasses](http://umbraco.com/products/training) <small>(September 2012)</small>

MSc Interactive Systems Design
===

[The University of Nottingham](http://nottingham.ac.uk), graduated 2010
---

The Internet is the largest and most complex socio-technical system in existence. Interactive Systems Design taught me how to think about, study and design solutions for large interacting social and technical systems. I learned usability principles (e.g. [Nielsen's]( http://www.nngroup.com/articles/ten-usability-heuristics/ )), principles of cognitive systems interaction and design principles for mobile technologies. I also learned about conducting and statistically analysing social and user studies.

I also had [a journal paper]({% url 'publications' %}#micro-generation-schemes-smalljournal-papersmall) published from some of my work.

BSc Computer Science
===

[The University of Nottingham](http://nottingham.ac.uk), graduated 2007
---

I learned about object oriented programming, unix systems, security principles, functional programming, mathematics for computer science and database theory.

School
===

[Leighton Park](http://www.leightonpark.com/), Reading
---

I got A-Cs in English Language &amp; Literature, Chemistry, Physics and Maths at A-level, and I got a bunch of GCSEs including Art and German.

{% endfilter markdown %}
{% endblock content %}
