{% extends "cv/wrapper.html" %}

{% block title %}My CV{% endblock %}

{% block content %}

<nav class="page-navigation">
    <ul>
        <li><a href="#roles">Recent roles</a></li>
        <li><a href="#publications">Education</a></li>
        <li><a href="#client-side">Client-side tech</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="#server-side">Server-side tech</a></li>
        <li><a href="#sites">Sites</a></li>
    </ul>
</nav>

<section id="roles">
    <div class="section-title"><h1>Recent roles</h1></div>

    <nav class="topic-navigation date-list">
        <ul>
            <li>
                <small class="date">2012-2014</small>
                <a href="/roles/#lead-developer">Lead developer</a>
                <small class="inline-aside">( @ <a href="http://www.hillarys.co.uk">Hillarys</a> )</small>
            </li>
            <li>
                <small class="date">2011-2012</small>
                <a href="/roles/#full-stack-developer">Full-stack developer</a>
                <small class="inline-aside">( @ <a href="http://www.ipcmedia.com/">IPC Media</a> )</small>
            </li>
            <li>
                <small class="date">2005-2010</small>
                <a href="/roles/#previous-roles">Previous roles</a>
                <small class="inline-aside">( @ <a href="http://energiseuk.co.uk/">Energise</a>, <a href="http://www.mokoro.co.uk/">Mokoro</a>, <a href="http://www.tamar.com/">Tamar</a> )</small>
            </li>
        </ul>
    </nav>

    <p class="summary">I'm a full-stack web developer with 6 years' experience. I've worked on large-scale, high-performance sites across many industries. I have experience working in and leading agile teams in large and small organisations.</p>
</section>

<section id="education">
    <div class="section-title"><h1>Education</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li><a href="{% url 'education' %}#training-course">Training courses</a></li>
            <li><a href="{% url 'education' %}#msc-interactive-systems-design">MSc Interactive Systems Design</a></li>
            <li><a href="{% url 'education' %}#bsc-computer-science">BSc Computer Science</a></li>
        </ul>
    </nav>

    <p class="summary">My BSc in Computer Science was where I <a href="http://robinwinslow.co.uk/2013/05/30/why-i-love-the-internet/">fell in love with the internet</a>. My MSc in Interactive Systems Design taught me to see the wider systemic issues surrounding most technical problems, and made me interested in usability and the human experience in all areas of web development. My Inviqa training course taught me so much about writing maintainable code.</p>
</section>

<section id="publications">
    <div class="section-title"><h1>Publications</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li><a href="{% url 'publications' %}#static-site-generators">Static Site Generators</a> <small>(presentation)</small></li>
            <li><a href="{% url 'publications' %}#html5-and-how-to-use-it">HTML5 and how to use it</a> <small>(presentation)</small></li>
            <li><a href="{% url 'publications' %}#lets-talk-about-css">Let's talk about CSS</a> <small>(presentation)</small></li>
            <li><a href="{% url 'publications' %}#micro-generation-schemes-user-behaviours-and-attitudes-towards-energy-consumption">Micro-generation schemes</a> <small>(journal paper)</small></li>
            <li><a href="{% url 'publications' %}#other-presentations">Other presentations</a></li>
            <li><a href="{% url 'publications' %}#my-blog">My blog</a></li>
        </ul>
    </nav>

    <p class="summary">I like writing and giving presentations. I have given several presentations about web technologies, including one to over 100 people. I presented on sociological topics as part of my MSc, and I have published a journal article. I also have a blog.</p>
</section>

<section id="client-side">
    <div class="section-title"><h1>Client-side tech</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li><a href="{% url 'client_side' %}#html">HTML</a></li>
            <li><a href="{% url 'client_side' %}#css">CSS</a></li>
            <li><a href="{% url 'client_side' %}#responsive-design">Responsive design</a></li>
            <li><a href="{% url 'client_side' %}#javascript">JavaScript</a></li>
            <li><a href="{% url 'client_side' %}#performance">Performance</a></li>
            <li><a href="{% url 'client_side' %}#usability">Usability</a></li>
        </ul>
    </nav>

    <p class="summary">I have been working with HTML, CSS and JavaScript since 2005, and I am interested in all of them. Over the years I've also become increasingly interested in usability, responsive design and performance. I think writing clear and maintainable and above all flexible client-side code is fantastically important. Code must be flexible, to work on a diverse range of devices, but robust. It must degrade sensibly. The highly nuanced problem of architecting a client-side solution to be responsive, performant and usable is a really exciting challenge for me.</p>
</section>

<section id="server-side">
    <div class="section-title"><h1>Server-side tech</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>PHP <small>(Symfony, Zend, CodeIgniter, Magento)</small></li>
            <li>Python <small>(Django)</small></li>
            <li>C# <small>(Umbraco, MCV3)</small></li>
            <li>Ruby <small>(Jekyll)</small>
            <li>Perl <small>(Catalyst)</small></li>
            <li>Version control <small>(git, subversion)</small></li>
            <li>DevOps <small>(Heroku, Debian, CentOS, Apache, Nginx)</small></li>
            <li>Continuous integration <small>(Jenkins, Travis)</small></li>
        </ul>
    </nav>

    <p class="summary">I have experience of many server-side languages, and have extensive experience architecting code. I have setup version control systems and strategies, and I have good knowledge of design patterns and test-driven developement. I also have a lot of experience with managing servers, and using various hosting services.</p>
</section>

<section id="sites">
    <div class="section-title"><h1>Sites</h1></div>

    <h2>Some websites I have worked on</h2>

    <nav class="block-navigation">
        <ul>
            <li><a href="http://robinwinslow.co.uk">robinwinslow.co.uk</a></li>
            <li><a href="http://www.web-blinds.com">web-blinds.com</a></li>
            <li><a href="http://www.arena-blinds.com">arena-blinds.com</a></li>
            <li><a href="http://www.premiershutters.co.uk">premiershutters.co.uk</a></li>
            <li><a href="http://www.nextshutters.co.uk">nextshutters.co.uk</a></li>
            <li><a href="http://www.countrylife.co.uk">countrylife.co.uk</a></li>
            <li><a href="http://www.horseandhound.co.uk">horseandhound.co.uk</a></li>
            <li><a href="http://www.shootinguk.co.uk">shootinguk.co.uk</a></li>
            <li><a href="http://www.mokoro.co.uk">mokoro.co.uk</a></li>
            <li><a href="http://www.endsleigh.co.uk">engsleigh.co.uk</a></li>
            <li><a href="http://www.quickcarquote.co.uk">quickcarquote.co.uk</a></li>
            <li><a href="http://www.dreams.co.uk/">dreams.co.uk</a></li>
        </ul>
    </nav>
</section>
{% endblock content %}
