{% extends "cv/wrapper.html" %}

{% block title %}I'm a web developer{% endblock %}

{% block content %}

<nav class="page-navigation">
    <ul>
        <li><a href="#roles">Recent roles</a></li>
        <li><a href="#publications">Education</a></li>
        <li><a href="#client-side">Client-side skills</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="#server-side">Server-side skills</a></li>
        <li><a href="#sites">Sites</a></li>
    </ul>
</nav>

<section id="roles">
    <div class="section-title"><h1>Recent roles</h1></div>

    <nav class="topic-navigation date-list">
        <ul>
            <li>
                <small class="date">2012-2014</small>
                <a href="/roles/#lead-developer">Lead developer</a>
                <small>( @ <a href="http://www.hillarys.co.uk">Hillarys</a> )</small>
            </li>
            <li>
                <small class="date">2011-2012</small>
                <a href="/roles/#full-stack-developer">Full-stack developer</a>
                <small>( @ <a href="http://www.ipcmedia.com/">IPC Media</a> )</small>
            </li>
            <li>
                <small class="date">2005-2010</small>
                <a href="/roles/#previous-roles">Previous roles</a>
                <small>( @ <a href="http://energiseuk.co.uk/">Energise</a>, <a href="http://www.mokoro.co.uk/">Mokoro</a>, <a href="http://www.tamar.com/">Tamar</a> )</small>
            </li>
        </ul>
    </nav>

    <p class="summary">I'm a full-stack web developer with 6 years' experience. I've worked on large-scale, high-performance sites across many industries. I have experience working in and leading agile teams in large and small organisations.</p>
</section>

<section id="education">
    <div class="section-title"><h1>Education</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li><a href="{% url 'education' %}#training-course">Training courses</a></li>
            <li><a href="{% url 'education' %}#msc-interactive-systems-design">MSc Interactive Systems Design</a></li>
            <li><a href="{% url 'education' %}#bsc-computer-science">BSc Computer Science</a></li>
        </ul>
    </nav>

    <p class="summary">My BSc in Computer Science was where I <a href="http://robinwinslow.co.uk/2013/05/30/why-i-love-the-internet/">fell in love with the internet</a>. My MSc in Interactive Systems Design taught me to see the wider systemic issues surrounding most technical problems, and made me interested in usability and the human experience in all areas of web development. My Inviqa training course gave me invaluable insight into writing maintainable code.</p>
</section>

<section id="server-side">
    <div class="section-title"><h1>Server-side skills</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>
                <a href="{% url 'server_side' %}#languages">Languages</a>
                <small>
                    (
                        <a href="{% url 'server_side' %}#php">PHP</a>,
                        <a href="{% url 'server_side' %}#c-sharp">C#</a>,
                        <a href="{% url 'server_side' %}#python">Python</a>,
                        <a href="{% url 'server_side' %}#other-languages">Others</a>
                    )
                </small>
            </li>
            <li>
                <a href="{% url 'server_side' %}#version-control">Version control</a>
                <small>( git, subversion )</small>
            </li>
            <li>
                <a href="{% url 'server_side' %}#databases">Databases</a>
                <small>( MySQL, PostgreSQL, SQL Server )</small>
            </li>
            <li>
                <a href="{% url 'server_side' %}#devops-amp-continuous-integration">DevOps &amp continuous integration</a>  
            </li>
        </ul>
    </nav>

    <p class="summary">I have 5 years of experience writing and maintaining application in PHP, and I have valuable experience in C# and Python. I always strive to write <a href="http://robinwinslow.co.uk/2013/11/22/expressive-coding/">expressive</a> and <a href="http://robinwinslow.co.uk/2014/01/08/general-coding-guidelines/">well architected</a> code. I have significant experience in <a href="http://en.wikipedia.org/wiki/Devops">DevOps</a>, having setup and maintained many different server configurations and worked closely with system administrators. I have also setup various version control and continuous intergration systems.</p>
</section>

<section id="client-side">
    <div class="section-title"><h1>Client-side skills</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li><a href="{% url 'client_side' %}#html">HTML</a></li>
            <li><a href="{% url 'client_side' %}#css">CSS</a></li>
            <li><a href="{% url 'client_side' %}#responsive-design">Responsive design</a></li>
            <li><a href="{% url 'client_side' %}#javascript">JavaScript</a></li>
            <li><a href="{% url 'client_side' %}#performance">Performance</a></li>
            <li><a href="{% url 'client_side' %}#usability">Usability</a></li>
        </ul>
    </nav>

    <p class="summary">I have been working with HTML, CSS and JavaScript since 2005, and I am interested in all of them. Over the years I've also become increasingly interested in usability, responsive design and performance. I think writing clear and maintainable and above all flexible client-side code is fantastically important. Code must be flexible, to work on a diverse range of devices, but robust. It must degrade sensibly. The highly nuanced problem of architecting a client-side solution to be responsive, performant and usable is a really exciting challenge for me.</p>
</section>

<section id="publications">
    <div class="section-title"><h1>Publications</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>
                <a href="{% url 'publications' %}#static-site-generators-smallpresentationsmall">Static Site Generators</a>
                <small>(presentation)</small>
            </li>
            <li>
                <a href="{% url 'publications' %}#html5-and-how-to-use-it-smallpresentationsmall">HTML5 and how to use it</a>
                <small>(presentation)</small>
            </li>
            <li>
                <a href="{% url 'publications' %}#lets-talk-about-css-smallpresentationsmall">Let's talk about CSS</a>
                <small>(presentation)</small>
            </li>
            <li>
                <a href="{% url 'publications' %}#micro-generation-schemes-smalljournal-papersmall">Micro-generation schemes</a>
                <small>(journal paper)</small>
            </li>
            <li><a href="{% url 'publications' %}#other-publications">Other publications</a></li>
            <li><a href="{% url 'publications' %}#my-blog">My blog</a></li>
        </ul>
    </nav>

    <p class="summary">I like writing and giving presentations. I have given several presentations about web technologies, including one to over 100 people. I presented on sociological topics as part of my MSc, and I have published a journal article. I also have a blog.</p>
</section>

<section id="leading-a-team">
    <div class="section-title"><h1>Leading a team</h1></div>

    <p>I am a big fan of <a href="http://robinwinslow.co.uk/2014/01/10/agile-philosophy/">Agile philosophy</a>, skills-sharing and fostering a no-blame culture. I think the main role of a leader is to encourage practices that foster these goals, like morning <a href="http://en.wikipedia.org/wiki/Stand-up_meeting">stand-ups</a>, demonstrations, <a href="https://en.wikipedia.org/wiki/Code_review">code reviews</a> and regular skill-sharing workshops, and to encourage respect, discussion and open-mindedness to new ideas throughout.</p>

    <p>I believe a successful leader fosters an environment where there is rarely a need for direct intervention, by working to embody the values and practices necessary for the team to be sustainably productive.</p>

    <p>For a team to lose a developer is massively costly to any organisation, and it invariably sets back the team's evolution considerably. It is extremely worthwhile investing in the team and showing flexibility to work around team members' lives, to ensure they have the personal resources to do their best work.</p>

    <nav class="examples-navigation">
        <ul>
            <li>
                <a href="http://programmers.stackexchange.com/questions/166570/programming-vs-planning/166591#166591">
                    Programming vs. planning
                </a>

                <small>(answer @ Programmers)</small>
            </li>
            <li>
                <a href="http://robinwinslow.co.uk/2014/01/10/agile-philosophy/">
                    Agile philosophy
                </a>

                <small>(article @ my blog)</small>
            </li>
        </ul>
    </nav>
</section>

<section id="sites">
    <div class="section-title"><h1>Sites</h1></div>

    <h2>Some websites I have worked on</h2>

    <nav class="block-navigation">
        <ul>
            <li><a href="http://robinwinslow.co.uk">robinwinslow.co.uk</a></li>
            <li><a href="http://www.web-blinds.com">web-blinds.com</a></li>
            <li><a href="http://www.arena-blinds.com">arena-blinds.com</a></li>
            <li><a href="http://www.premiershutters.co.uk">premiershutters.co.uk</a></li>
            <li><a href="http://www.nextshutters.co.uk">nextshutters.co.uk</a></li>
            <li><a href="http://www.countrylife.co.uk">countrylife.co.uk</a></li>
            <li><a href="http://www.horseandhound.co.uk">horseandhound.co.uk</a></li>
            <li><a href="http://www.shootinguk.co.uk">shootinguk.co.uk</a></li>
            <li><a href="http://www.mokoro.co.uk">mokoro.co.uk</a></li>
            <li><a href="http://www.endsleigh.co.uk">engsleigh.co.uk</a></li>
            <li><a href="http://www.quickcarquote.co.uk">quickcarquote.co.uk</a></li>
            <li><a href="http://www.dreams.co.uk/">dreams.co.uk</a></li>
        </ul>
    </nav>
</section>
{% endblock content %}
