{% extends "cv/wrapper.html" %}
{% load markdown %}

{% block title %}Server-side skills{% endblock %}

{% block content %}
{% filter markdown %}

<nav class="page-navigation">
    <ul>
        <li><a href="#languages">Languages</a></li>
        <li><a href="#version-control">Version control</a></li>
        <li><a href="#databases">Databases</a></li>
        <li><a href="#devops-amp-continuous-integration">DevOps</a></li>
    </ul>
</nav>

Languages
===

I have experience coding in various server-side languages. Many [programming best-practice principles](http://robinwinslow.co.uk/2014/01/08/general-coding-guidelines/) apply in any language.

Whatever language I'm working in I always strive to write [expressive code](http://robinwinslow.co.uk/2013/11/22/expressive-coding/) and to create modular, simple &amp; maintainable code structures using [inversion of control](http://en.wikipedia.org/wiki/Inversion_of_control) and following established [design patterns](http://en.wikipedia.org/wiki/Design_patterns) wherever possible.

I am also a big fan of [behaviour driven development](http://en.wikipedia.org/wiki/Behaviour_driven_development), although I've had few opportunities to put it into practice so far.

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://robinwinslow.co.uk/2013/11/22/expressive-coding/">
                Writing expressive code
            </a>

            <small>(article @ my blog)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2014/01/08/general-coding-guidelines/">
                Best-practice tips for programmers
            </a>

            <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading" id="php">PHP</h2>

I've primarily been a [PHP](http://php.net) developer since 2007, when I branched out from doing mainly [Perl](http://www.perl.org/)-based web projects for Tamar. I have a deep knowledge of PHP's setup, syntax, API and capabilities. I've used PHP in various environments and setups, and often [compiled it from source](http://stackoverflow.com/questions/7167860/compiling-php-with-gd-and-libjpeg-support). I keep up to date with the new features added in [new versions of PHP](http://www.php.net/manual/en/migration55.new-features.php).

I've am experienced in using many PHP frameworks and CMSs including [CodeIgniter](http://ellislab.com/codeigniter) for [Energise]({% url 'roles' %}#previous-roles), [Symfony](http://symfony.com/) 1.0 and 1.4 at [IPC Media]({% url 'roles' %}#full-stack-developer) and [Magento](http://magento.com/) (based on [Zend framework]( http://framework.zend.com/ )) at [Hillarys]({% url 'roles' %}#lead-developer). I have never used [Symfony 2](https://github.com/symfony/symfony) commercially, but I have [played around with it](https://github.com/nottrobin/symfony-address-book) myself, and it seems like a fantastically neat and well documented project. 

I have a thorough understanding of [PHP design patterns](http://www.phptherightway.com/pages/Design-Patterns.html) and I have experience in writing [behaviour-driven](http://en.wikipedia.org/wiki/Behaviour_driven_development) tests with [phpunit](https://github.com/sebastianbergmann/phpunit/) (partly thanks to [Inviqa]( {% url 'education' %}#training-courses )).

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/12248381/php-observer-pattern-push-strategy/12248666#12248666">
                PHP observer pattern
            </a>
            <small>(answer @ StackOverflow)</small>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/7167860/compiling-php-with-gd-and-libjpeg-support">
                Compiling PHP with GD support
            </a>

            <small>(question @ StackOverflow)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/battle-simulator">
                Battle simulator
            </a>

            <small>(project @ Github)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/symfony-address-book">
                Symfony address book (symfony 2)
            </a>

            <small>(code @ Github)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2014/01/09/php-programming-principles/">
                PHP best practices
            </a>

            <small>(article @ my blog)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2013/05/31/installing-symfony-2-by-creating-a-github-fork/">
                Installing Symfony 2 from Github
            </a>

            <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading" id="c-sharp">C#</h2>

I started learning C# in August 2012 when I started at [Hillarys]({% url 'roles' %}#lead-developer) so that I could lead the first in-house site build (in [Umbraco]( http://umbraco.com/ )): [arena-blinds.com](http://www.arena-blinds.com). I [thought](http://programmers.stackexchange.com/questions/172861/patterns-for-a-tree-of-persistent-data-with-multiple-storage-options) [carefully](http://programmers.stackexchange.com/questions/170295/how-should-i-architect-my-model-and-data-access-layer-objects-in-my-website) about how to implement my storage layer so that the site could both talk to the database (which I also created) and talk to the existing CRM system.

I also setup the hosting platform and release system (using [web deploy]( http://www.iis.net/downloads/microsoft/web-deploy )) for this site. This project was so successful that it has has since become the basis for the rebuilding of two more major sites ([premiershutters.co.uk]( http://premiershutters.co.uk ) and [nextshutters.co.uk]( http://nextshutters.co.uk )).

Through these projects and ongoing maintenance I now have a fairly deep understanding of C# as a language, and of managing projects and releases of compiled binaries. 

<nav>
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/12670879/using-attributes-for-documentation-in-c-sharp">Using Attributes for Documentation</a>
            <small>(question @ StackOverflow)</small>
        </li>
        <li>
            <a href="http://programmers.stackexchange.com/questions/172861/patterns-for-a-tree-of-persistent-data-with-multiple-storage-options">Patterns for a tree of persistent data</a>
            <small>(question @ Programmers)</small>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/12915902/call-getstoredproccommand-with-variable-number-of-arguments-in-c">Understanding the params keyword</a>
            <small>(question @ StackOverflow)</small>
        </li>
        <li>
            <a href="https://github.com/Hillarys/dotnet-hillarys">Hillarys .net library</a>
            <small>(code @ Github)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading" id="python">Python</h2>

My first experience of Python and Django was at the first [NHS Hack Day](http://www.theguardian.com/healthcare-network/2012/jun/06/nhs-hack-day-apps-patient-hell) (that's me in the picture!) working on [NHSBugs.net](http://nhsbugs.net/) ([repository]( https://github.com/openhealthcare/nhsbugs )). Since then I didn't get a chance to work on any more Python projects until the beginning of December 2013 when I decided it was time to properly learn a new open-source language that was a bit less patchwork than PHP. Python was the obvious choice.

I first went through the official [Django tutorial](https://docs.djangoproject.com/en/1.6/intro/tutorial01/). I then wanted to try out more projects in Django, so I created this site, and I opted to do [an assignment](https://github.com/nottrobin/mysociety-questionnaire) for [mySociety](http://www.mysociety.org/) in Django as well.

I have also had the chance to read a fair bit about Python and play around with little coding examples, and I now have a fairly complete understanding of the language's syntax and functions ([everything is an object]( http://www.diveintopython.net/getting_to_know_python/everything_is_an_object.html )), including [list comprehensions](http://en.wikipedia.org/wiki/List_comprehension#Python), [generators](http://en.wikipedia.org/wiki/Python_syntax_and_semantics#Generators) and [decorators](https://wiki.python.org/moin/PythonDecorators).

I also know most of the [differences](http://docs.python.org/3/whatsnew/3.0.html) between Python 2.7 and 3.3, and I've played around with both running side-by-side, and I've built Python 3.4 beta from source.

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="https://github.com/nottrobin/django-tutorial">My version of the Django tutorial: Polls app</a>
            <small>(code @ Github)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/robinwinslow-cv">This website project</a>
            <small>(code @ Github)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/mysociety-questionnaire">mySociety assignment: questionnaire</a>
            <small>(code @ Github)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2014/01/05/summary-of-python-code-style-conventions/">Python coding conventions</a>
            <small>(article @ my blog)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2013/12/26/python-3-4-virtual-environment/">How to create a virtual environment in Python 3.4 beta</a>
            <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading" id="other-languages">Ruby &amp; Node.js</h2>

The only proper Ruby project I've worked on was the [Rails](http://rubyonrails.org/)-based [oportfol.io](http://oportfol.io/) ([repository]( https://github.com/doctorsonrails/o_portfolio_website )), which I helped create one weekend at an [NHS Hackday](http://nhshackday.com/) in Oxford - although I was mainly doing the front-end. My blog is built with [Jekyll](http://jekyllrb.com/) - a Ruby-based static site generator, so I understand the basics of how to manage a Ruby project.

At [Hillarys]({% url 'roles' %}#lead-developer) we completely restructured the [Vagrant](http://www.vagrantup.com/) and [Chef](http://www.getchef.com/) configurations for web-blinds.com, which required a lot of hacking around with Ruby recipes which gave me a fair amount of Ruby experience.

I am very interested in [Node.Js](http://nodejs.org/), as I am quite a fan of JavaScript, and some of the asynchronous stuff looks really cool. While I've [played around](https://github.com/nottrobin/web-controllers/blob/master/node_server.js) with Node really briefly, I really have next-to-no experience in it. I would be very excited to have a chance to try it out properly, however.

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/18873600/chef-why-cant-i-subscribe-to-a-directory-create-action">Chef: using the :create action</center></a>
            <small>(question @ StackOverflow)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/robin-blog">My Jekyll-based blog project</a>
            <small>(project @ Github)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2013/06/15/static-site-generators/">Blog like a pro with Jekyll static-site generators</a>
            <small>(article @ my blog)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/web-controllers/blob/master/node_server.js">A web controller in Node.Js</a>
            <small>(code @ Github)</small>
        </li>
    </ul>
</nav>

Version control
===

I've had a fair amount of experience using centralised version control systems: At [IPC Media]({% url 'roles' %}#full-stack-developer), we used [Subversion](http://subversion.apache.org/) (with externals), and at [Tamar]({% url 'roles' %}#previous-roles) we used [CVS](http://en.wikipedia.org/wiki/Concurrent_Versions_System). However, I discovered distributed version control in 2010, and after playing around with [Mercurial](http://mercurial.selenic.com/) for a while, I settled on using [Git](http://git-scm.com/) as the VCS of the future (massively complemented by [Github]( http://github )).

Distributed version control systems offer you so much more flexibility: You can use a centralised workflow if you like, but you can also have a completely decentralised one. You can work offline perfectly happily, and you can quickly and easily create copies of repositories, and above all, everything is stored in one simple folder. It's genius.

At [Hillarys]({% url 'roles' %}#lead-developer) I got the chance to recommend Git as the VCS for the team (even though I had to train the team in it), and it worked perfectly.

I have experience using Git on all sorts of projects - e.g. [with submodules](http://www.git-scm.com/book/en/Git-Tools-Submodules) and projects over 1GB in size, and then [rewritten history](http://robinwinslow.co.uk/2013/06/11/dont-ever-commit-binary-files-to-git/) to reduce the repository back down to 150MB. I have a deep understanding of how the Git tree and branch pointers work, meaning I can quite easily perform complex tasks in Git.

I've primarily used [Nvie's Git branching model](http://nvie.com/posts/a-successful-git-branching-model/), but I actually prefer the idea of a pull-request-based workflow. 

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="https://github.com/nottrobin/">My Github account (nottrobin)</center></a>
            <small>(profile @ github)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2013/06/11/dont-ever-commit-binary-files-to-git/">Avoid committing Binary files to Git and what to do if you do</a>
            <small>(article @ my blog)</small>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/19489769/see-commits-between-branches-git-cherry-with-descriptions/19489770#19489770">See commits between branches with descriptions</a>
            <small>(question + answer @ StackOverflow)</small>
        </li>
    </ul>
</nav>

Databases
===

I have been using relational databases extensively for the whole of my development career. The bulk of my experience has been using [MySQL](https://www.mysql.com/) with PHP, although I have a fair amount of experience with [Microsoft SQL Server](http://en.wikipedia.org/wiki/Microsoft_SQL_Server) and I've played around with [PostgreSQL](http://www.postgresql.org/). I'm also very interested in [NoSQL](http://en.wikipedia.org/wiki/Nosql) databases.

I understand [database normalisation](http://en.wikipedia.org/wiki/Normalisation) and I have a lot of experience of create sensible schemas for data. I also have a lot of experience managing MySQL on servers, and setting up and managing a master-slave relationship. Although I'm not exactly a MySQL performance guru, I do understand how to write efficient queries, and to reduce overhead by creating indexes and stored procedures and temporary tables, and increasing reliability with database transactions. Actually, in Microsoft SQL Server stored procedures provide a very useful abstraction layer between the code and the database, but I've never used them in MySQL in this way.  

I'm very interested in NoSQL databases, like [MongoDB](http://www.mongodb.org/) and (especially) [CouchDB](https://couchdb.apache.org/), although I've only played around with them for a short time each. I'd welcome the chance to try out either one in a proper project.

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/20459504/postgresql-create-a-new-user-with-no-privileges">PostgreSQL: Create a user with no privileges?</a>
            <small>(question @ StackOverflow)</small>
        </li>
        <li><a href="http://stackoverflow.com/questions/12247380/offline-access-sqlite-or-indexeddb/12247517#12247517">Offline access: SQLite or IndexedDB</a> <small>(answer @ StackOverflow)</small>
        </li>
    </ul>
</nav>

DevOps &amp; continuous integration
===

I have experience setting up and maintaining (and writing configuration for) Linux and Windows servers including [Apache](https://www.apache.org/), [Lighttpd](http://www.lighttpd.net/), [Nginx](http://nginx.org/) and [Microsoft IIS](http://www.iis.net/). I have a significant amount of experience managing unix-based systems.

I've made extensive use of virtualisation for development, and I have a lot of experience using and configuring [Vagrant](http://vagrantup.com), [chef](http://www.getchef.com/) and [VirtualBox](https://www.virtualbox.org/).

I have used [Heroku](http://heroku.com/) extensively for many personal projects including this site and my blog site, including using the Heroku Postgres database service.

At [IPC Media]({% url 'roles' %}#full-stack-developer) I helped to setup and maintain the [Jenkins](http://jenkins-ci.org/) continuous integration build system. The CI server ran tests as well as automatically checking n-path complexity and code quality. 

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/12839604/local-personalisations-for-vagrant-boxes/12839806#12839806">Local personalisations for Vagrant boxes</a>
            <small>(question @ StackOverflow)</small>
        </li>
        <li><a href="http://robinwinslow.co.uk/2012/10/05/what-to-do-if-your-vagrant-vm-crashes/">What to do if your Vagrant VM crashes</a> <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

{% endfilter markdown %}
{% endblock content %}
