{% extends "cv/wrapper.html" %}
{% load markdown %}

{% block title %}Server-side skills{% endblock %}

{% block content %}
{% filter markdown %}

<nav class="page-navigation">
    <ul>
        <li><a href="#languages">Languages</a></li>
        <li><a href="#version-control">Version control</a></li>
        <li><a href="#devops">DevOps</a></li>
        <li><a href="#javascript">JavaScript</a></li>
        <li><a href="#performance">Performance</a></li>
        <li><a href="#usability">Usability</a></li>
    </ul>
</nav>

Languages
===

I have experience coding in various server-side languages. Many programming principles apply to all languages. Whatever language I'm working in I always strive to write [expressive code](http://robinwinslow.co.uk/2013/11/22/expressive-coding/) and to create modular, simple &amp; maintainable code structures using [inversion of control](http://en.wikipedia.org/wiki/Inversion_of_control) and following established [design patterns](http://en.wikipedia.org/wiki/Design_patterns) wherever possible. I am also a big fan of [behaviour driven development](http://en.wikipedia.org/wiki/Behaviour_driven_development), although I've had limited opportunity to put it into practice thus far.

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://robinwinslow.co.uk/2013/11/22/expressive-coding/">
                Writing expressive code
            </a>

            <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading">PHP</h2>

I've primarily been a [PHP](http://php.net) developer since 2007, when I branched out from doing mainly [Perl](http://www.perl.org/)-based web projects for Tamar. I have a deep knowledge of PHP's setup, syntax, API and capabilities. I've used PHP in various environments and setups, and often [compiled it from source](http://stackoverflow.com/questions/7167860/compiling-php-with-gd-and-libjpeg-support). I keep up to date with the new features added in [new versions of PHP](http://www.php.net/manual/en/migration55.new-features.php).

I've am experienced in using many PHP frameworks and CMSs including [CodeIgniter](http://ellislab.com/codeigniter) for [Energise]({% url 'roles' %}#previous-roles), [Symfony](http://symfony.com/) 1.0 and 1.4 at [IPC Media]({% url 'roles' %}#full-stack-developer) and [Magento](http://magento.com/) (based on [Zend framework](http://framework.zend.com/)) at [Hillarys]({% url 'roles' %}#lead-developer). I have never used [Symfony 2](https://github.com/symfony/symfony) commercially, but I have [played around with it](https://github.com/nottrobin/symfony-address-book) myself, and it seems like a fantastically neat and well documented project. 

I have a thorough understanding of [PHP design patterns](http://www.phptherightway.com/pages/Design-Patterns.html) and I have experience in writing [behaviour-driven](http://en.wikipedia.org/wiki/Behaviour_driven_development) tests with [phpunit](https://github.com/sebastianbergmann/phpunit/) (partly thanks to [Inviqa]({% url 'education' %}#training-courses)).

<nav class="examples-navigation">
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/12248381/php-observer-pattern-push-strategy/12248666#12248666">
                PHP observer pattern
            </a>
            <small>(answer @ StackOverflow)</small>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/7167860/compiling-php-with-gd-and-libjpeg-support">
                Compiling PHP with GD support
            </a>

            <small>(question @ StackOverflow)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/battle-simulator">
                Battle simulator
            </a>

            <small>(project @ Github)</small>
        </li>
        <li>
            <a href="https://github.com/nottrobin/symfony-address-book">
                Symfony address book (symfony 2)
            </a>

            <small>(code @ Github)</small>
        </li>
        <li>
            <a href="http://robinwinslow.co.uk/2013/05/31/installing-symfony-2-by-creating-a-github-fork/">
                Installing Symfony 2 from Github
            </a>

            <small>(article @ my blog)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading">C#</h2>

<nav>
    <ul>
        <li>
            <a href=""></a>
            <small>(code @ Github)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading">Python</h2>

<nav>
    <ul>
        <li>
            <a href=""></a>
            <small>(code @ Github)</small>
        </li>
    </ul>
</nav>

<h2 class="side-heading">Ruby &amp; node.js</h2>

<nav>
    <ul>
        <li>
            <a href=""></a>
            <small>(code @ Github)</small>
        </li>
    </ul>
</nav>

{% endfilter markdown %}
{% endblock content %}
